body{
	max-width: 1078px;
	min-width: 1078px;

}

#primeraseccion{
	width: 100%;
	height: 100px;
}


#primeraseccion img{
	height: 200px;
}





#sec01art01{
	border: 1px solid blue;
	max-width: 470px;
	max-height: 350px;
}

#sec01art01 div{
	padding-right: 100px;
}

#sec01art02{
	border: 1px solid blue;

	max-width: 150px;
	padding-right: 100px;
}


#segundaseccion{
	
}